@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');
body {
    height: 200vh;
}

// media
@mixin m_max {
    @media screen and (min-width: 1280px) {
        @conent
    }
}

@mixin m_mid {
    @media screen and (max-width: 1280px) and (min-width: 720px) {
        @conent
    }
}

@mixin m_small {
    @media screen and (max-width: 720px) {
        @conent
    }
}

// font
$auto-sans:'Noto Sans TC',
sans-serif;
$fugaz-one:'Fugaz One',
'Noto Sans TC',
sans-serif;
.ff- {
    &fo {
        font-family: $fugaz-one;
    }
    &as {
        font-family: $auto-sans;
    }
}

// images
$images-01: url("header-01.jpeg");
// z-index
$z-1:100;
$z-2:200;
$z-3:300;
$z-4:400;
$z-5:500;
$z-6:600;
$z-7:700;
$z-8:800;
$z-9:900;
$z-10:1000;
// base theme
* {
    margin: 0;
}

h1 {
    font-size: 12vh;
}

h2 {
    font-size: 10vh;
}

h3 {}

h4 {}

h5 {}

h6 {}

p {
    font-size: 30px;
}

a {
    text-decoration: none;
}

ul {
    li {}
}

.fs- {
    &i {
        font-style: italic;
    }
    &up {
        text-transform: uppercase;
    }
}

@for $i from 1 to 7 {
    .ls- {
        &#{$i} {
            letter-spacing: $i*10px;
        }
    }
}

@for $i from 1 to 11 {
    .z-#{$i} {
        z-index: $i * 100;
    }
}

@for $i from 1 to 10 {
    .fw- {
        &#{$i} {
            font-weight: $i*100;
        }
    }
}

.bg- {
    &fixed {
        background-attachment: fixed;
    }
    &center {
        background-position: center;
    }
}
.filter {
    @mixin filter-cover {
        content: '';
        top: 0;
        position: absolute;
        height: 100%;
        width: 100%;
    }
    @mixin filter-theme($op1,$op0) {
            &.filter-{
                &left {
                    &::before {
                        @include filter-cover;
                        background: linear-gradient(90deg, $op1 0%, $op0 100%);
                        ;
                    }
                }
                &right {
                    &::before {
                        @include filter-cover;
                        background: linear-gradient(270deg, $op1 0%, $op0 100%);
                        ;
                    }
                }
                &cover {
                    &::before {
                        @include filter-cover;
                        background-color: $op1;
                        opacity: 0.5;
                        ;
                    }
                }
            }
    }
    &.light{
        @include filter-theme(rgb(255, 255, 255), rgba(255, 255, 255, 0));
    }
    &.dark{
        @include filter-theme(rgb(0,0,0), rgba(0, 0, 0, 0));
    }
}
.btn {
    font-weight: 700;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 5px;
    color: black;
    background-color: white;
    transition: .1s;
    &:focus {
        box-shadow: rgba(255, 255, 255, 0.5) 0px 0px 10px;
    }
}
// header
.header {
    &.style- {
        &1 {
            width: 100%;
            height: 100vh;
            position: relative;
            background-color: burlywood;
            background-image: $images-01;
            background-size: cover;
            background-position: center;
            &.dark {
                color: white;
            }
            &.light {
                color: black;
            }
            .text {
                position: absolute;
                width: 50%;
                height: 100%;
                left: 5vw;
                display: flex;
                flex-flow: column;
                justify-content: center;
                @for $i from 1 to 7 {
                    h#{$i} {
                        text-transform: uppercase;
                    }
                }
                p {
                    font-family: $auto-sans;
                    margin: 10px 0;
                }
            }
        }
    }
}