@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');
@import 'variables';
body {
    height: 200vh;
}

// media
@mixin m_max {
    @media screen and (min-width: 1280px) {
        @conent
    }
}

@mixin m_mid {
    @media screen and (max-width: 1280px) and (min-width: 720px) {
        @conent
    }
}

@mixin m_small {
    @media screen and (max-width: 720px) {
        @conent
    }
}

// font
$auto-sans:'Noto Sans TC',
sans-serif;
$fugaz-one:'Fugaz One',
'Noto Sans TC',
sans-serif;
// z-index
$z-1:100;
$z-2:200;
$z-3:300;
$z-4:400;
$z-5:500;
$z-6:600;
$z-7:700;
$z-8:800;
$z-9:900;
$z-10:1000;
// base theme
* {
    margin: 0;
}

h1 {
    font-size: 12vh;
}

h2 {
    font-size: 10vh;
}

h3 {}

h4 {}

h5 {}

h6 {}

p {
    font-size: 30px;
}

a {
    text-decoration: none;
}

ul {
    li {}
}

@for $i from 1 to 11 {
    .z-#{$i} {
        z-index: $i * 100;
    }
}

.bg {
    &-fixed {
        background-attachment: fixed;
    }
    &-center {
        background-position: center;
    }
    &-images {
        &-01 {
            background-image: $images-01;
        }
    }
}

.btn {
    font-weight: 700;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 5px;
    color: black;
    background-color: white;
    transition: .1s;
    &:focus {
        box-shadow: rgba(255, 255, 255, 0.5) 0px 0px 10px;
    }
}

@import '_position';
@import 'font';
@import 'headers';