@import url("https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap");
body {
  height: 200vh;
}

* {
  margin: 0;
}

h1 {
  font-size: 12vh;
}

h2 {
  font-size: 10vh;
}

p {
  font-size: 30px;
}

a {
  text-decoration: none;
}

.z-1 {
  z-index: 100;
}

.z-2 {
  z-index: 200;
}

.z-3 {
  z-index: 300;
}

.z-4 {
  z-index: 400;
}

.z-5 {
  z-index: 500;
}

.z-6 {
  z-index: 600;
}

.z-7 {
  z-index: 700;
}

.z-8 {
  z-index: 800;
}

.z-9 {
  z-index: 900;
}

.z-10 {
  z-index: 1000;
}

.bg-fixed {
  background-attachment: fixed;
}

.bg-center {
  background-position: center;
}

.bg-images-01 {
  background-image: url("header-01.jpeg");
}

.btn {
  font-weight: 700;
  display: inline-block;
  padding: 10px 30px;
  border-radius: 5px;
  color: black;
  background-color: white;
  -webkit-transition: .1s;
  transition: .1s;
}

.btn:focus {
  -webkit-box-shadow: rgba(255, 255, 255, 0.5) 0px 0px 10px;
          box-shadow: rgba(255, 255, 255, 0.5) 0px 0px 10px;
}

.pos-left-5vw {
  left: 5vw;
}

.pos-left-10vw {
  left: 10vw;
}

.pos-left-15vw {
  left: 15vw;
}

.pos-left-20vw {
  left: 20vw;
}

.pos-left-25vw {
  left: 25vw;
}

.pos-left-30vw {
  left: 30vw;
}

.pos-left-35vw {
  left: 35vw;
}

.pos-left-40vw {
  left: 40vw;
}

.pos-left-45vw {
  left: 45vw;
}

.pos-left-50vw {
  left: 50vw;
}

.pos-left-55vw {
  left: 55vw;
}

.pos-left-60vw {
  left: 60vw;
}

.pos-left-65vw {
  left: 65vw;
}

.pos-left-70vw {
  left: 70vw;
}

.pos-left-75vw {
  left: 75vw;
}

.pos-left-80vw {
  left: 80vw;
}

.pos-left-85vw {
  left: 85vw;
}

.pos-left-90vw {
  left: 90vw;
}

.pos-left-95vw {
  left: 95vw;
}

.pos-left-100vw {
  left: 100vw;
}

.pos-left-5vh {
  left: 5vh;
}

.pos-left-10vh {
  left: 10vh;
}

.pos-left-15vh {
  left: 15vh;
}

.pos-left-20vh {
  left: 20vh;
}

.pos-left-25vh {
  left: 25vh;
}

.pos-left-30vh {
  left: 30vh;
}

.pos-left-35vh {
  left: 35vh;
}

.pos-left-40vh {
  left: 40vh;
}

.pos-left-45vh {
  left: 45vh;
}

.pos-left-50vh {
  left: 50vh;
}

.pos-left-55vh {
  left: 55vh;
}

.pos-left-60vh {
  left: 60vh;
}

.pos-left-65vh {
  left: 65vh;
}

.pos-left-70vh {
  left: 70vh;
}

.pos-left-75vh {
  left: 75vh;
}

.pos-left-80vh {
  left: 80vh;
}

.pos-left-85vh {
  left: 85vh;
}

.pos-left-90vh {
  left: 90vh;
}

.pos-left-95vh {
  left: 95vh;
}

.pos-left-100vh {
  left: 100vh;
}

.pos-left-5v {
  left: 5%;
}

.pos-left-10v {
  left: 10%;
}

.pos-left-15v {
  left: 15%;
}

.pos-left-20v {
  left: 20%;
}

.pos-left-25v {
  left: 25%;
}

.pos-left-30v {
  left: 30%;
}

.pos-left-35v {
  left: 35%;
}

.pos-left-40v {
  left: 40%;
}

.pos-left-45v {
  left: 45%;
}

.pos-left-50v {
  left: 50%;
}

.pos-left-55v {
  left: 55%;
}

.pos-left-60v {
  left: 60%;
}

.pos-left-65v {
  left: 65%;
}

.pos-left-70v {
  left: 70%;
}

.pos-left-75v {
  left: 75%;
}

.pos-left-80v {
  left: 80%;
}

.pos-left-85v {
  left: 85%;
}

.pos-left-90v {
  left: 90%;
}

.pos-left-95v {
  left: 95%;
}

.pos-left-100v {
  left: 100%;
}

.pos-left-5px {
  left: 5px;
}

.pos-left-10px {
  left: 10px;
}

.pos-left-15px {
  left: 15px;
}

.pos-left-20px {
  left: 20px;
}

.pos-left-25px {
  left: 25px;
}

.pos-left-30px {
  left: 30px;
}

.pos-left-35px {
  left: 35px;
}

.pos-left-40px {
  left: 40px;
}

.pos-left-45px {
  left: 45px;
}

.pos-left-50px {
  left: 50px;
}

.pos-left-55px {
  left: 55px;
}

.pos-left-60px {
  left: 60px;
}

.pos-left-65px {
  left: 65px;
}

.pos-left-70px {
  left: 70px;
}

.pos-left-75px {
  left: 75px;
}

.pos-left-80px {
  left: 80px;
}

.pos-left-85px {
  left: 85px;
}

.pos-left-90px {
  left: 90px;
}

.pos-left-95px {
  left: 95px;
}

.pos-left-100px {
  left: 100px;
}

.pos-right-5vw {
  right: 5vw;
}

.pos-right-10vw {
  right: 10vw;
}

.pos-right-15vw {
  right: 15vw;
}

.pos-right-20vw {
  right: 20vw;
}

.pos-right-25vw {
  right: 25vw;
}

.pos-right-30vw {
  right: 30vw;
}

.pos-right-35vw {
  right: 35vw;
}

.pos-right-40vw {
  right: 40vw;
}

.pos-right-45vw {
  right: 45vw;
}

.pos-right-50vw {
  right: 50vw;
}

.pos-right-55vw {
  right: 55vw;
}

.pos-right-60vw {
  right: 60vw;
}

.pos-right-65vw {
  right: 65vw;
}

.pos-right-70vw {
  right: 70vw;
}

.pos-right-75vw {
  right: 75vw;
}

.pos-right-80vw {
  right: 80vw;
}

.pos-right-85vw {
  right: 85vw;
}

.pos-right-90vw {
  right: 90vw;
}

.pos-right-95vw {
  right: 95vw;
}

.pos-right-100vw {
  right: 100vw;
}

.pos-right-5vh {
  right: 5vh;
}

.pos-right-10vh {
  right: 10vh;
}

.pos-right-15vh {
  right: 15vh;
}

.pos-right-20vh {
  right: 20vh;
}

.pos-right-25vh {
  right: 25vh;
}

.pos-right-30vh {
  right: 30vh;
}

.pos-right-35vh {
  right: 35vh;
}

.pos-right-40vh {
  right: 40vh;
}

.pos-right-45vh {
  right: 45vh;
}

.pos-right-50vh {
  right: 50vh;
}

.pos-right-55vh {
  right: 55vh;
}

.pos-right-60vh {
  right: 60vh;
}

.pos-right-65vh {
  right: 65vh;
}

.pos-right-70vh {
  right: 70vh;
}

.pos-right-75vh {
  right: 75vh;
}

.pos-right-80vh {
  right: 80vh;
}

.pos-right-85vh {
  right: 85vh;
}

.pos-right-90vh {
  right: 90vh;
}

.pos-right-95vh {
  right: 95vh;
}

.pos-right-100vh {
  right: 100vh;
}

.pos-right-5v {
  right: 5%;
}

.pos-right-10v {
  right: 10%;
}

.pos-right-15v {
  right: 15%;
}

.pos-right-20v {
  right: 20%;
}

.pos-right-25v {
  right: 25%;
}

.pos-right-30v {
  right: 30%;
}

.pos-right-35v {
  right: 35%;
}

.pos-right-40v {
  right: 40%;
}

.pos-right-45v {
  right: 45%;
}

.pos-right-50v {
  right: 50%;
}

.pos-right-55v {
  right: 55%;
}

.pos-right-60v {
  right: 60%;
}

.pos-right-65v {
  right: 65%;
}

.pos-right-70v {
  right: 70%;
}

.pos-right-75v {
  right: 75%;
}

.pos-right-80v {
  right: 80%;
}

.pos-right-85v {
  right: 85%;
}

.pos-right-90v {
  right: 90%;
}

.pos-right-95v {
  right: 95%;
}

.pos-right-100v {
  right: 100%;
}

.pos-right-5px {
  right: 5px;
}

.pos-right-10px {
  right: 10px;
}

.pos-right-15px {
  right: 15px;
}

.pos-right-20px {
  right: 20px;
}

.pos-right-25px {
  right: 25px;
}

.pos-right-30px {
  right: 30px;
}

.pos-right-35px {
  right: 35px;
}

.pos-right-40px {
  right: 40px;
}

.pos-right-45px {
  right: 45px;
}

.pos-right-50px {
  right: 50px;
}

.pos-right-55px {
  right: 55px;
}

.pos-right-60px {
  right: 60px;
}

.pos-right-65px {
  right: 65px;
}

.pos-right-70px {
  right: 70px;
}

.pos-right-75px {
  right: 75px;
}

.pos-right-80px {
  right: 80px;
}

.pos-right-85px {
  right: 85px;
}

.pos-right-90px {
  right: 90px;
}

.pos-right-95px {
  right: 95px;
}

.pos-right-100px {
  right: 100px;
}

.pos-top-5vw {
  top: 5vw;
}

.pos-top-10vw {
  top: 10vw;
}

.pos-top-15vw {
  top: 15vw;
}

.pos-top-20vw {
  top: 20vw;
}

.pos-top-25vw {
  top: 25vw;
}

.pos-top-30vw {
  top: 30vw;
}

.pos-top-35vw {
  top: 35vw;
}

.pos-top-40vw {
  top: 40vw;
}

.pos-top-45vw {
  top: 45vw;
}

.pos-top-50vw {
  top: 50vw;
}

.pos-top-55vw {
  top: 55vw;
}

.pos-top-60vw {
  top: 60vw;
}

.pos-top-65vw {
  top: 65vw;
}

.pos-top-70vw {
  top: 70vw;
}

.pos-top-75vw {
  top: 75vw;
}

.pos-top-80vw {
  top: 80vw;
}

.pos-top-85vw {
  top: 85vw;
}

.pos-top-90vw {
  top: 90vw;
}

.pos-top-95vw {
  top: 95vw;
}

.pos-top-100vw {
  top: 100vw;
}

.pos-top-5vh {
  top: 5vh;
}

.pos-top-10vh {
  top: 10vh;
}

.pos-top-15vh {
  top: 15vh;
}

.pos-top-20vh {
  top: 20vh;
}

.pos-top-25vh {
  top: 25vh;
}

.pos-top-30vh {
  top: 30vh;
}

.pos-top-35vh {
  top: 35vh;
}

.pos-top-40vh {
  top: 40vh;
}

.pos-top-45vh {
  top: 45vh;
}

.pos-top-50vh {
  top: 50vh;
}

.pos-top-55vh {
  top: 55vh;
}

.pos-top-60vh {
  top: 60vh;
}

.pos-top-65vh {
  top: 65vh;
}

.pos-top-70vh {
  top: 70vh;
}

.pos-top-75vh {
  top: 75vh;
}

.pos-top-80vh {
  top: 80vh;
}

.pos-top-85vh {
  top: 85vh;
}

.pos-top-90vh {
  top: 90vh;
}

.pos-top-95vh {
  top: 95vh;
}

.pos-top-100vh {
  top: 100vh;
}

.pos-top-5v {
  top: 5%;
}

.pos-top-10v {
  top: 10%;
}

.pos-top-15v {
  top: 15%;
}

.pos-top-20v {
  top: 20%;
}

.pos-top-25v {
  top: 25%;
}

.pos-top-30v {
  top: 30%;
}

.pos-top-35v {
  top: 35%;
}

.pos-top-40v {
  top: 40%;
}

.pos-top-45v {
  top: 45%;
}

.pos-top-50v {
  top: 50%;
}

.pos-top-55v {
  top: 55%;
}

.pos-top-60v {
  top: 60%;
}

.pos-top-65v {
  top: 65%;
}

.pos-top-70v {
  top: 70%;
}

.pos-top-75v {
  top: 75%;
}

.pos-top-80v {
  top: 80%;
}

.pos-top-85v {
  top: 85%;
}

.pos-top-90v {
  top: 90%;
}

.pos-top-95v {
  top: 95%;
}

.pos-top-100v {
  top: 100%;
}

.pos-top-5px {
  top: 5px;
}

.pos-top-10px {
  top: 10px;
}

.pos-top-15px {
  top: 15px;
}

.pos-top-20px {
  top: 20px;
}

.pos-top-25px {
  top: 25px;
}

.pos-top-30px {
  top: 30px;
}

.pos-top-35px {
  top: 35px;
}

.pos-top-40px {
  top: 40px;
}

.pos-top-45px {
  top: 45px;
}

.pos-top-50px {
  top: 50px;
}

.pos-top-55px {
  top: 55px;
}

.pos-top-60px {
  top: 60px;
}

.pos-top-65px {
  top: 65px;
}

.pos-top-70px {
  top: 70px;
}

.pos-top-75px {
  top: 75px;
}

.pos-top-80px {
  top: 80px;
}

.pos-top-85px {
  top: 85px;
}

.pos-top-90px {
  top: 90px;
}

.pos-top-95px {
  top: 95px;
}

.pos-top-100px {
  top: 100px;
}

.pos-bottom-5vw {
  bottom: 5vw;
}

.pos-bottom-10vw {
  bottom: 10vw;
}

.pos-bottom-15vw {
  bottom: 15vw;
}

.pos-bottom-20vw {
  bottom: 20vw;
}

.pos-bottom-25vw {
  bottom: 25vw;
}

.pos-bottom-30vw {
  bottom: 30vw;
}

.pos-bottom-35vw {
  bottom: 35vw;
}

.pos-bottom-40vw {
  bottom: 40vw;
}

.pos-bottom-45vw {
  bottom: 45vw;
}

.pos-bottom-50vw {
  bottom: 50vw;
}

.pos-bottom-55vw {
  bottom: 55vw;
}

.pos-bottom-60vw {
  bottom: 60vw;
}

.pos-bottom-65vw {
  bottom: 65vw;
}

.pos-bottom-70vw {
  bottom: 70vw;
}

.pos-bottom-75vw {
  bottom: 75vw;
}

.pos-bottom-80vw {
  bottom: 80vw;
}

.pos-bottom-85vw {
  bottom: 85vw;
}

.pos-bottom-90vw {
  bottom: 90vw;
}

.pos-bottom-95vw {
  bottom: 95vw;
}

.pos-bottom-100vw {
  bottom: 100vw;
}

.pos-bottom-5vh {
  bottom: 5vh;
}

.pos-bottom-10vh {
  bottom: 10vh;
}

.pos-bottom-15vh {
  bottom: 15vh;
}

.pos-bottom-20vh {
  bottom: 20vh;
}

.pos-bottom-25vh {
  bottom: 25vh;
}

.pos-bottom-30vh {
  bottom: 30vh;
}

.pos-bottom-35vh {
  bottom: 35vh;
}

.pos-bottom-40vh {
  bottom: 40vh;
}

.pos-bottom-45vh {
  bottom: 45vh;
}

.pos-bottom-50vh {
  bottom: 50vh;
}

.pos-bottom-55vh {
  bottom: 55vh;
}

.pos-bottom-60vh {
  bottom: 60vh;
}

.pos-bottom-65vh {
  bottom: 65vh;
}

.pos-bottom-70vh {
  bottom: 70vh;
}

.pos-bottom-75vh {
  bottom: 75vh;
}

.pos-bottom-80vh {
  bottom: 80vh;
}

.pos-bottom-85vh {
  bottom: 85vh;
}

.pos-bottom-90vh {
  bottom: 90vh;
}

.pos-bottom-95vh {
  bottom: 95vh;
}

.pos-bottom-100vh {
  bottom: 100vh;
}

.pos-bottom-5v {
  bottom: 5%;
}

.pos-bottom-10v {
  bottom: 10%;
}

.pos-bottom-15v {
  bottom: 15%;
}

.pos-bottom-20v {
  bottom: 20%;
}

.pos-bottom-25v {
  bottom: 25%;
}

.pos-bottom-30v {
  bottom: 30%;
}

.pos-bottom-35v {
  bottom: 35%;
}

.pos-bottom-40v {
  bottom: 40%;
}

.pos-bottom-45v {
  bottom: 45%;
}

.pos-bottom-50v {
  bottom: 50%;
}

.pos-bottom-55v {
  bottom: 55%;
}

.pos-bottom-60v {
  bottom: 60%;
}

.pos-bottom-65v {
  bottom: 65%;
}

.pos-bottom-70v {
  bottom: 70%;
}

.pos-bottom-75v {
  bottom: 75%;
}

.pos-bottom-80v {
  bottom: 80%;
}

.pos-bottom-85v {
  bottom: 85%;
}

.pos-bottom-90v {
  bottom: 90%;
}

.pos-bottom-95v {
  bottom: 95%;
}

.pos-bottom-100v {
  bottom: 100%;
}

.pos-bottom-5px {
  bottom: 5px;
}

.pos-bottom-10px {
  bottom: 10px;
}

.pos-bottom-15px {
  bottom: 15px;
}

.pos-bottom-20px {
  bottom: 20px;
}

.pos-bottom-25px {
  bottom: 25px;
}

.pos-bottom-30px {
  bottom: 30px;
}

.pos-bottom-35px {
  bottom: 35px;
}

.pos-bottom-40px {
  bottom: 40px;
}

.pos-bottom-45px {
  bottom: 45px;
}

.pos-bottom-50px {
  bottom: 50px;
}

.pos-bottom-55px {
  bottom: 55px;
}

.pos-bottom-60px {
  bottom: 60px;
}

.pos-bottom-65px {
  bottom: 65px;
}

.pos-bottom-70px {
  bottom: 70px;
}

.pos-bottom-75px {
  bottom: 75px;
}

.pos-bottom-80px {
  bottom: 80px;
}

.pos-bottom-85px {
  bottom: 85px;
}

.pos-bottom-90px {
  bottom: 90px;
}

.pos-bottom-95px {
  bottom: 95px;
}

.pos-bottom-100px {
  bottom: 100px;
}

.mr-top-5vw {
  margin-top: 5vw;
}

.mr-top-10vw {
  margin-top: 10vw;
}

.mr-top-15vw {
  margin-top: 15vw;
}

.mr-top-20vw {
  margin-top: 20vw;
}

.mr-top-25vw {
  margin-top: 25vw;
}

.mr-top-30vw {
  margin-top: 30vw;
}

.mr-top-35vw {
  margin-top: 35vw;
}

.mr-top-40vw {
  margin-top: 40vw;
}

.mr-top-45vw {
  margin-top: 45vw;
}

.mr-top-50vw {
  margin-top: 50vw;
}

.mr-top-55vw {
  margin-top: 55vw;
}

.mr-top-60vw {
  margin-top: 60vw;
}

.mr-top-65vw {
  margin-top: 65vw;
}

.mr-top-70vw {
  margin-top: 70vw;
}

.mr-top-75vw {
  margin-top: 75vw;
}

.mr-top-80vw {
  margin-top: 80vw;
}

.mr-top-85vw {
  margin-top: 85vw;
}

.mr-top-90vw {
  margin-top: 90vw;
}

.mr-top-95vw {
  margin-top: 95vw;
}

.mr-top-100vw {
  margin-top: 100vw;
}

.mr-top-5vh {
  margin-top: 5vh;
}

.mr-top-10vh {
  margin-top: 10vh;
}

.mr-top-15vh {
  margin-top: 15vh;
}

.mr-top-20vh {
  margin-top: 20vh;
}

.mr-top-25vh {
  margin-top: 25vh;
}

.mr-top-30vh {
  margin-top: 30vh;
}

.mr-top-35vh {
  margin-top: 35vh;
}

.mr-top-40vh {
  margin-top: 40vh;
}

.mr-top-45vh {
  margin-top: 45vh;
}

.mr-top-50vh {
  margin-top: 50vh;
}

.mr-top-55vh {
  margin-top: 55vh;
}

.mr-top-60vh {
  margin-top: 60vh;
}

.mr-top-65vh {
  margin-top: 65vh;
}

.mr-top-70vh {
  margin-top: 70vh;
}

.mr-top-75vh {
  margin-top: 75vh;
}

.mr-top-80vh {
  margin-top: 80vh;
}

.mr-top-85vh {
  margin-top: 85vh;
}

.mr-top-90vh {
  margin-top: 90vh;
}

.mr-top-95vh {
  margin-top: 95vh;
}

.mr-top-100vh {
  margin-top: 100vh;
}

.mr-top-5v {
  margin-top: 5%;
}

.mr-top-10v {
  margin-top: 10%;
}

.mr-top-15v {
  margin-top: 15%;
}

.mr-top-20v {
  margin-top: 20%;
}

.mr-top-25v {
  margin-top: 25%;
}

.mr-top-30v {
  margin-top: 30%;
}

.mr-top-35v {
  margin-top: 35%;
}

.mr-top-40v {
  margin-top: 40%;
}

.mr-top-45v {
  margin-top: 45%;
}

.mr-top-50v {
  margin-top: 50%;
}

.mr-top-55v {
  margin-top: 55%;
}

.mr-top-60v {
  margin-top: 60%;
}

.mr-top-65v {
  margin-top: 65%;
}

.mr-top-70v {
  margin-top: 70%;
}

.mr-top-75v {
  margin-top: 75%;
}

.mr-top-80v {
  margin-top: 80%;
}

.mr-top-85v {
  margin-top: 85%;
}

.mr-top-90v {
  margin-top: 90%;
}

.mr-top-95v {
  margin-top: 95%;
}

.mr-top-100v {
  margin-top: 100%;
}

.mr-top-5px {
  margin-top: 5px;
}

.mr-top-10px {
  margin-top: 10px;
}

.mr-top-15px {
  margin-top: 15px;
}

.mr-top-20px {
  margin-top: 20px;
}

.mr-top-25px {
  margin-top: 25px;
}

.mr-top-30px {
  margin-top: 30px;
}

.mr-top-35px {
  margin-top: 35px;
}

.mr-top-40px {
  margin-top: 40px;
}

.mr-top-45px {
  margin-top: 45px;
}

.mr-top-50px {
  margin-top: 50px;
}

.mr-top-55px {
  margin-top: 55px;
}

.mr-top-60px {
  margin-top: 60px;
}

.mr-top-65px {
  margin-top: 65px;
}

.mr-top-70px {
  margin-top: 70px;
}

.mr-top-75px {
  margin-top: 75px;
}

.mr-top-80px {
  margin-top: 80px;
}

.mr-top-85px {
  margin-top: 85px;
}

.mr-top-90px {
  margin-top: 90px;
}

.mr-top-95px {
  margin-top: 95px;
}

.mr-top-100px {
  margin-top: 100px;
}

.mr-bottom-5vw {
  margin-bottom: 5vw;
}

.mr-bottom-10vw {
  margin-bottom: 10vw;
}

.mr-bottom-15vw {
  margin-bottom: 15vw;
}

.mr-bottom-20vw {
  margin-bottom: 20vw;
}

.mr-bottom-25vw {
  margin-bottom: 25vw;
}

.mr-bottom-30vw {
  margin-bottom: 30vw;
}

.mr-bottom-35vw {
  margin-bottom: 35vw;
}

.mr-bottom-40vw {
  margin-bottom: 40vw;
}

.mr-bottom-45vw {
  margin-bottom: 45vw;
}

.mr-bottom-50vw {
  margin-bottom: 50vw;
}

.mr-bottom-55vw {
  margin-bottom: 55vw;
}

.mr-bottom-60vw {
  margin-bottom: 60vw;
}

.mr-bottom-65vw {
  margin-bottom: 65vw;
}

.mr-bottom-70vw {
  margin-bottom: 70vw;
}

.mr-bottom-75vw {
  margin-bottom: 75vw;
}

.mr-bottom-80vw {
  margin-bottom: 80vw;
}

.mr-bottom-85vw {
  margin-bottom: 85vw;
}

.mr-bottom-90vw {
  margin-bottom: 90vw;
}

.mr-bottom-95vw {
  margin-bottom: 95vw;
}

.mr-bottom-100vw {
  margin-bottom: 100vw;
}

.mr-bottom-5vh {
  margin-bottom: 5vh;
}

.mr-bottom-10vh {
  margin-bottom: 10vh;
}

.mr-bottom-15vh {
  margin-bottom: 15vh;
}

.mr-bottom-20vh {
  margin-bottom: 20vh;
}

.mr-bottom-25vh {
  margin-bottom: 25vh;
}

.mr-bottom-30vh {
  margin-bottom: 30vh;
}

.mr-bottom-35vh {
  margin-bottom: 35vh;
}

.mr-bottom-40vh {
  margin-bottom: 40vh;
}

.mr-bottom-45vh {
  margin-bottom: 45vh;
}

.mr-bottom-50vh {
  margin-bottom: 50vh;
}

.mr-bottom-55vh {
  margin-bottom: 55vh;
}

.mr-bottom-60vh {
  margin-bottom: 60vh;
}

.mr-bottom-65vh {
  margin-bottom: 65vh;
}

.mr-bottom-70vh {
  margin-bottom: 70vh;
}

.mr-bottom-75vh {
  margin-bottom: 75vh;
}

.mr-bottom-80vh {
  margin-bottom: 80vh;
}

.mr-bottom-85vh {
  margin-bottom: 85vh;
}

.mr-bottom-90vh {
  margin-bottom: 90vh;
}

.mr-bottom-95vh {
  margin-bottom: 95vh;
}

.mr-bottom-100vh {
  margin-bottom: 100vh;
}

.mr-bottom-5v {
  margin-bottom: 5%;
}

.mr-bottom-10v {
  margin-bottom: 10%;
}

.mr-bottom-15v {
  margin-bottom: 15%;
}

.mr-bottom-20v {
  margin-bottom: 20%;
}

.mr-bottom-25v {
  margin-bottom: 25%;
}

.mr-bottom-30v {
  margin-bottom: 30%;
}

.mr-bottom-35v {
  margin-bottom: 35%;
}

.mr-bottom-40v {
  margin-bottom: 40%;
}

.mr-bottom-45v {
  margin-bottom: 45%;
}

.mr-bottom-50v {
  margin-bottom: 50%;
}

.mr-bottom-55v {
  margin-bottom: 55%;
}

.mr-bottom-60v {
  margin-bottom: 60%;
}

.mr-bottom-65v {
  margin-bottom: 65%;
}

.mr-bottom-70v {
  margin-bottom: 70%;
}

.mr-bottom-75v {
  margin-bottom: 75%;
}

.mr-bottom-80v {
  margin-bottom: 80%;
}

.mr-bottom-85v {
  margin-bottom: 85%;
}

.mr-bottom-90v {
  margin-bottom: 90%;
}

.mr-bottom-95v {
  margin-bottom: 95%;
}

.mr-bottom-100v {
  margin-bottom: 100%;
}

.mr-bottom-5px {
  margin-bottom: 5px;
}

.mr-bottom-10px {
  margin-bottom: 10px;
}

.mr-bottom-15px {
  margin-bottom: 15px;
}

.mr-bottom-20px {
  margin-bottom: 20px;
}

.mr-bottom-25px {
  margin-bottom: 25px;
}

.mr-bottom-30px {
  margin-bottom: 30px;
}

.mr-bottom-35px {
  margin-bottom: 35px;
}

.mr-bottom-40px {
  margin-bottom: 40px;
}

.mr-bottom-45px {
  margin-bottom: 45px;
}

.mr-bottom-50px {
  margin-bottom: 50px;
}

.mr-bottom-55px {
  margin-bottom: 55px;
}

.mr-bottom-60px {
  margin-bottom: 60px;
}

.mr-bottom-65px {
  margin-bottom: 65px;
}

.mr-bottom-70px {
  margin-bottom: 70px;
}

.mr-bottom-75px {
  margin-bottom: 75px;
}

.mr-bottom-80px {
  margin-bottom: 80px;
}

.mr-bottom-85px {
  margin-bottom: 85px;
}

.mr-bottom-90px {
  margin-bottom: 90px;
}

.mr-bottom-95px {
  margin-bottom: 95px;
}

.mr-bottom-100px {
  margin-bottom: 100px;
}

.mr-left-5vw {
  margin-left: 5vw;
}

.mr-left-10vw {
  margin-left: 10vw;
}

.mr-left-15vw {
  margin-left: 15vw;
}

.mr-left-20vw {
  margin-left: 20vw;
}

.mr-left-25vw {
  margin-left: 25vw;
}

.mr-left-30vw {
  margin-left: 30vw;
}

.mr-left-35vw {
  margin-left: 35vw;
}

.mr-left-40vw {
  margin-left: 40vw;
}

.mr-left-45vw {
  margin-left: 45vw;
}

.mr-left-50vw {
  margin-left: 50vw;
}

.mr-left-55vw {
  margin-left: 55vw;
}

.mr-left-60vw {
  margin-left: 60vw;
}

.mr-left-65vw {
  margin-left: 65vw;
}

.mr-left-70vw {
  margin-left: 70vw;
}

.mr-left-75vw {
  margin-left: 75vw;
}

.mr-left-80vw {
  margin-left: 80vw;
}

.mr-left-85vw {
  margin-left: 85vw;
}

.mr-left-90vw {
  margin-left: 90vw;
}

.mr-left-95vw {
  margin-left: 95vw;
}

.mr-left-100vw {
  margin-left: 100vw;
}

.mr-left-5vh {
  margin-left: 5vh;
}

.mr-left-10vh {
  margin-left: 10vh;
}

.mr-left-15vh {
  margin-left: 15vh;
}

.mr-left-20vh {
  margin-left: 20vh;
}

.mr-left-25vh {
  margin-left: 25vh;
}

.mr-left-30vh {
  margin-left: 30vh;
}

.mr-left-35vh {
  margin-left: 35vh;
}

.mr-left-40vh {
  margin-left: 40vh;
}

.mr-left-45vh {
  margin-left: 45vh;
}

.mr-left-50vh {
  margin-left: 50vh;
}

.mr-left-55vh {
  margin-left: 55vh;
}

.mr-left-60vh {
  margin-left: 60vh;
}

.mr-left-65vh {
  margin-left: 65vh;
}

.mr-left-70vh {
  margin-left: 70vh;
}

.mr-left-75vh {
  margin-left: 75vh;
}

.mr-left-80vh {
  margin-left: 80vh;
}

.mr-left-85vh {
  margin-left: 85vh;
}

.mr-left-90vh {
  margin-left: 90vh;
}

.mr-left-95vh {
  margin-left: 95vh;
}

.mr-left-100vh {
  margin-left: 100vh;
}

.mr-left-5v {
  margin-left: 5%;
}

.mr-left-10v {
  margin-left: 10%;
}

.mr-left-15v {
  margin-left: 15%;
}

.mr-left-20v {
  margin-left: 20%;
}

.mr-left-25v {
  margin-left: 25%;
}

.mr-left-30v {
  margin-left: 30%;
}

.mr-left-35v {
  margin-left: 35%;
}

.mr-left-40v {
  margin-left: 40%;
}

.mr-left-45v {
  margin-left: 45%;
}

.mr-left-50v {
  margin-left: 50%;
}

.mr-left-55v {
  margin-left: 55%;
}

.mr-left-60v {
  margin-left: 60%;
}

.mr-left-65v {
  margin-left: 65%;
}

.mr-left-70v {
  margin-left: 70%;
}

.mr-left-75v {
  margin-left: 75%;
}

.mr-left-80v {
  margin-left: 80%;
}

.mr-left-85v {
  margin-left: 85%;
}

.mr-left-90v {
  margin-left: 90%;
}

.mr-left-95v {
  margin-left: 95%;
}

.mr-left-100v {
  margin-left: 100%;
}

.mr-left-5px {
  margin-left: 5px;
}

.mr-left-10px {
  margin-left: 10px;
}

.mr-left-15px {
  margin-left: 15px;
}

.mr-left-20px {
  margin-left: 20px;
}

.mr-left-25px {
  margin-left: 25px;
}

.mr-left-30px {
  margin-left: 30px;
}

.mr-left-35px {
  margin-left: 35px;
}

.mr-left-40px {
  margin-left: 40px;
}

.mr-left-45px {
  margin-left: 45px;
}

.mr-left-50px {
  margin-left: 50px;
}

.mr-left-55px {
  margin-left: 55px;
}

.mr-left-60px {
  margin-left: 60px;
}

.mr-left-65px {
  margin-left: 65px;
}

.mr-left-70px {
  margin-left: 70px;
}

.mr-left-75px {
  margin-left: 75px;
}

.mr-left-80px {
  margin-left: 80px;
}

.mr-left-85px {
  margin-left: 85px;
}

.mr-left-90px {
  margin-left: 90px;
}

.mr-left-95px {
  margin-left: 95px;
}

.mr-left-100px {
  margin-left: 100px;
}

.mr-right-5vw {
  margin-right: 5vw;
}

.mr-right-10vw {
  margin-right: 10vw;
}

.mr-right-15vw {
  margin-right: 15vw;
}

.mr-right-20vw {
  margin-right: 20vw;
}

.mr-right-25vw {
  margin-right: 25vw;
}

.mr-right-30vw {
  margin-right: 30vw;
}

.mr-right-35vw {
  margin-right: 35vw;
}

.mr-right-40vw {
  margin-right: 40vw;
}

.mr-right-45vw {
  margin-right: 45vw;
}

.mr-right-50vw {
  margin-right: 50vw;
}

.mr-right-55vw {
  margin-right: 55vw;
}

.mr-right-60vw {
  margin-right: 60vw;
}

.mr-right-65vw {
  margin-right: 65vw;
}

.mr-right-70vw {
  margin-right: 70vw;
}

.mr-right-75vw {
  margin-right: 75vw;
}

.mr-right-80vw {
  margin-right: 80vw;
}

.mr-right-85vw {
  margin-right: 85vw;
}

.mr-right-90vw {
  margin-right: 90vw;
}

.mr-right-95vw {
  margin-right: 95vw;
}

.mr-right-100vw {
  margin-right: 100vw;
}

.mr-right-5vh {
  margin-right: 5vh;
}

.mr-right-10vh {
  margin-right: 10vh;
}

.mr-right-15vh {
  margin-right: 15vh;
}

.mr-right-20vh {
  margin-right: 20vh;
}

.mr-right-25vh {
  margin-right: 25vh;
}

.mr-right-30vh {
  margin-right: 30vh;
}

.mr-right-35vh {
  margin-right: 35vh;
}

.mr-right-40vh {
  margin-right: 40vh;
}

.mr-right-45vh {
  margin-right: 45vh;
}

.mr-right-50vh {
  margin-right: 50vh;
}

.mr-right-55vh {
  margin-right: 55vh;
}

.mr-right-60vh {
  margin-right: 60vh;
}

.mr-right-65vh {
  margin-right: 65vh;
}

.mr-right-70vh {
  margin-right: 70vh;
}

.mr-right-75vh {
  margin-right: 75vh;
}

.mr-right-80vh {
  margin-right: 80vh;
}

.mr-right-85vh {
  margin-right: 85vh;
}

.mr-right-90vh {
  margin-right: 90vh;
}

.mr-right-95vh {
  margin-right: 95vh;
}

.mr-right-100vh {
  margin-right: 100vh;
}

.mr-right-5v {
  margin-right: 5%;
}

.mr-right-10v {
  margin-right: 10%;
}

.mr-right-15v {
  margin-right: 15%;
}

.mr-right-20v {
  margin-right: 20%;
}

.mr-right-25v {
  margin-right: 25%;
}

.mr-right-30v {
  margin-right: 30%;
}

.mr-right-35v {
  margin-right: 35%;
}

.mr-right-40v {
  margin-right: 40%;
}

.mr-right-45v {
  margin-right: 45%;
}

.mr-right-50v {
  margin-right: 50%;
}

.mr-right-55v {
  margin-right: 55%;
}

.mr-right-60v {
  margin-right: 60%;
}

.mr-right-65v {
  margin-right: 65%;
}

.mr-right-70v {
  margin-right: 70%;
}

.mr-right-75v {
  margin-right: 75%;
}

.mr-right-80v {
  margin-right: 80%;
}

.mr-right-85v {
  margin-right: 85%;
}

.mr-right-90v {
  margin-right: 90%;
}

.mr-right-95v {
  margin-right: 95%;
}

.mr-right-100v {
  margin-right: 100%;
}

.mr-right-5px {
  margin-right: 5px;
}

.mr-right-10px {
  margin-right: 10px;
}

.mr-right-15px {
  margin-right: 15px;
}

.mr-right-20px {
  margin-right: 20px;
}

.mr-right-25px {
  margin-right: 25px;
}

.mr-right-30px {
  margin-right: 30px;
}

.mr-right-35px {
  margin-right: 35px;
}

.mr-right-40px {
  margin-right: 40px;
}

.mr-right-45px {
  margin-right: 45px;
}

.mr-right-50px {
  margin-right: 50px;
}

.mr-right-55px {
  margin-right: 55px;
}

.mr-right-60px {
  margin-right: 60px;
}

.mr-right-65px {
  margin-right: 65px;
}

.mr-right-70px {
  margin-right: 70px;
}

.mr-right-75px {
  margin-right: 75px;
}

.mr-right-80px {
  margin-right: 80px;
}

.mr-right-85px {
  margin-right: 85px;
}

.mr-right-90px {
  margin-right: 90px;
}

.mr-right-95px {
  margin-right: 95px;
}

.mr-right-100px {
  margin-right: 100px;
}

.font-w1 {
  font-weight: 100;
}

.font-w2 {
  font-weight: 200;
}

.font-w3 {
  font-weight: 300;
}

.font-w4 {
  font-weight: 400;
}

.font-w5 {
  font-weight: 500;
}

.font-w6 {
  font-weight: 600;
}

.font-w7 {
  font-weight: 700;
}

.font-w8 {
  font-weight: 800;
}

.font-w9 {
  font-weight: 900;
}

.font-l1 {
  letter-spacing: 10px;
}

.font-l2 {
  letter-spacing: 20px;
}

.font-l3 {
  letter-spacing: 30px;
}

.font-l4 {
  letter-spacing: 40px;
}

.font-l5 {
  letter-spacing: 50px;
}

.font-l6 {
  letter-spacing: 60px;
}

.font-style-i {
  font-style: italic;
}

.font-style-up {
  text-transform: uppercase;
}

.font-family-fo {
  font-family: "Fugaz One", "Noto Sans TC", sans-serif;
}

.font-family-as {
  font-family: "Noto Sans TC", sans-serif;
}

.header.style-1, .header.style-1-dark, .header.style-1-light {
  width: 100%;
  height: 100vh;
  position: relative;
  background-size: cover;
  background-position: center;
}

.header.style-1-dark {
  color: white;
}

.header.style-1-dark.filter-left::before {
  content: '';
  top: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  background: -webkit-gradient(linear, left top, right top, from(#000), to(transparent));
  background: linear-gradient(90deg, #000 0%, transparent 100%);
}

.header.style-1-dark.filter-right::before {
  content: '';
  top: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  background: -webkit-gradient(linear, right top, left top, from(#000), to(transparent));
  background: linear-gradient(270deg, #000 0%, transparent 100%);
}

.header.style-1-dark.filter-cover::before {
  content: '';
  top: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #000;
  opacity: 0.5;
}

.header.style-1-light {
  color: black;
}

.header.style-1-light.filter-left::before {
  content: '';
  top: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  background: -webkit-gradient(linear, left top, right top, from(#fff), to(transparent));
  background: linear-gradient(90deg, #fff 0%, transparent 100%);
}

.header.style-1-light.filter-right::before {
  content: '';
  top: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  background: -webkit-gradient(linear, right top, left top, from(#fff), to(transparent));
  background: linear-gradient(270deg, #fff 0%, transparent 100%);
}

.header.style-1-light.filter-cover::before {
  content: '';
  top: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #fff;
  opacity: 0.5;
}

.header.style-1 .text, .header.style-1-dark .text, .header.style-1-light .text {
  position: absolute;
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header.style-1 .text p, .header.style-1-dark .text p, .header.style-1-light .text p {
  font-family: "Noto Sans TC", sans-serif;
  margin: 10px 0;
}
/*# sourceMappingURL=style.css.map */