.font {
    &-w {
        @for $i from 1 to 10 {
            &-#{$i} {
                font-weight: $i*100;
            }
        }
    }
    &-l {
        @for $i from 1 to 7 {
            &-#{$i} {
                letter-spacing: $i*4px;
            }
        }
    }
    &-s {
        @for $i from 1 to 11 {
            &-#{$i} {
                font-size: (10-$i)*4px + 8px;
            }
        }
    }
    &-style {
        &-i {
            font-style: italic;
        }
        &-up {
            text-transform: uppercase;
        }
    }
    &-family {
        &-fo {
            font-family: $fugaz-one;
        }
        &-as {
            font-family: $auto-sans;
        }
    }
}